@import "tailwindcss";

@theme {
  --color-indochine-yellow: #F4EBD0;
  --color-indochine-yellow-dark: #D6C291;
  --color-indochine-green: #2B4C3F;
  --color-indochine-green-light: #4A7A66;
  --color-indochine-red: #A33327;
  --color-indochine-dark: #1E1E1E;
  --color-indochine-bg: #FCFAF5;
  --color-indochine-card: #FFFFFF;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: var(--color-indochine-bg);
    --foreground: var(--color-indochine-dark);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #111111;
      --foreground: #f4ebd0;
      --color-indochine-bg: #111111;
      --color-indochine-card: #1A1A1A;
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Hide scrollbar on body */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.map-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem; /* bo tròn map */
  overflow: hidden;
}

/* Mapbox overrides */
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}
